.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #6200ea;
  box-shadow: 5px 0 7px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;
  color: #ffffff;
  z-index: 1000;
}

/* Exemplo opcional, caso prefira usar a classe no JS */
.sidebar.no-transition {
  transition: none !important;
}


/* Estados expandido e recolhido */
.sidebar.expanded {
  width: 215px;
  background-color: #6200ea;
}

.sidebar.collapsed {
  width: 40px;
}



/* Conteúdo da sidebar */
.sidebar-content {
  flex: 1;
  overflow: hidden; /* Impede que o conteúdo ultrapasse a largura */
  padding-top: 50px;
}



/* Esconde o texto e o logo quando recolhido */
.sidebar.collapsed .nav-text,
.sidebar.collapsed .sidebar-logo img {
  opacity: 0;
  pointer-events: none;
}

/* Menu de navegação vertical */
.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.nav-item {
  
  margin-bottom: 20px;
  cursor: pointer;
  display: block;
  align-items: center;
  
}

.nav-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 35px;
  transition: background 0.3s;
  font-size: 17px;
  transition: background-color 0.4s ease;
  font-weight: 600;
  border-radius: 10px;
}

.nav-link:hover {
  color: #ffffff;
  background-color: #3700b3;
  border-radius: 10px;
  
}



.nav-link i {
  align-items: center;
  margin-right: 10px;
  width: 20px;
  text-align: center;
  border-radius: 10px;
  display: block;
}

.nav-text {
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

/* Rodapé da sidebar (logout) */
.sidebar-footer {
  padding: 15px;
  border-top: 1px solid #6200ea;
}

.logout-button {
  width: 100%;
  background: none;
  border: none;
  color: #d9534f;
  cursor: pointer;
  
  padding: 10px 20px;
  font-size: 1.1rem;
  text-align: center;
}
.logout-button:hover {
  color: #ffffff;
  background-color: #3700b3;
  border-radius: 8px;
}

/* Responsividade: para telas menores */
@media (max-width: 768px) {
  .sidebar.expanded {
    width: 200px;
  }
  .sidebar.collapsed {
    width: 60px;
  }
}