.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #e4e3e3;
  color: white;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-bar-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.top-bar-left {
  display: flex;
  align-items: center;
}

.top-bar-logo {
  text-decoration: none;
  margin-right: 40px; /* Espaço entre o logo e o botão */
}

.top-bar-logo-img {
  height: 60px;
  width: auto;
  cursor: pointer;
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 1;
  transform: scale(1);
}

.top-bar-logo-img:hover {
  transform: scale(1.05);
}

.top-bar-logo-img.hidden {
  opacity: 0;
  transform: scale(0.95);
}


/* Estilização personalizada para o botão toggle */
.navbar-toggler {
  border: none;
  background-color: #e4e3e3;
  border-radius: 4px;
  padding: 8px 12px;
  
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar-toggler:hover {
  background-color: #e4e3e3;
  transform: scale(1.05);
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(#e4e3e3);
}

/* O ícone padrão do toggle do Bootstrap é definido via background-image */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Ajuste o espaço do conteúdo principal para que não fique oculto pelo TopBar */
.app-container {
  padding-top: 50px;
}

.sidebar {
  top: 50px;
  height: calc(100vh - 50px);
}

.main-content {
  margin-top: 50px;
  min-height: calc(100vh - 50px);
}
